<template>
  <div class="board">
    <board-column
      v-for="(column, $columnIndex) of board.columns"
      :key="$columnIndex"
      :column="column"
      :$columnIndex="$columnIndex"
    ></board-column>
    <div class="column">
      <input
        type="text"
        class="new-entity"
        placeholder="+ Enter new column"
        @keyup.enter="createColumn($event)"
      />
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import NProgress from "nprogress";
import boardColumn from "@/components/BoardColumn.vue";


export default {
  components: {
    boardColumn
  },
  computed: {
    ...mapState(["board"])
  },
  methods: {
    async createColumn(event) {
      NProgress.start();
      await this.$store.dispatch("createColumn", {
        columnName: event.target.value
      });
      NProgress.done();
      event.target.value = "";
    }
  }
};
</script>

<style lang="css">
.board {
  padding: 1rem;
  background-color: #98ccc7;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.column {
  background-color: #dae1e7;
  padding: 0.5rem;
  margin-right: 1rem;
  text-align: left;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  min-width: 350px;
}
.new-entity {
  border: none;
  background: transparent;
  width: 100%;
  height: 24px;
  outline: none;
}
</style>
