<template>
  <div class="task-modal" v-if="task && task.name">
    <div class="task-header">
      <input type="text" autofocus v-model="task.name" class="task-name" />
      <datepicker
        v-model="task.dueDate"
        :placeholder="'Task due date'"
        :wrapper-class="'height-32 padding0-10'"
        :input-class="'height-32'"
        :open-date="new Date()"
        :clear-button="true"
      ></datepicker>
      <vue-timepicker
        :minute-interval="15"
        :placeholder="'Task due time'"
        :input-class="'height-32'"
        close-on-complete
        v-model="dueTime"
      ></vue-timepicker>
    </div>

    <textarea
      rows="10"
      v-model="task.description"
      placeholder="Enter the description of the task"
      class="task-description"
    />
    <div class="actions">
      <button @click="saveTask" class="btn-success">SAVE</button>
      <button @click="deleteTask" class="btn-danger">DELETE</button>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { mapActions } from "vuex";
import Datepicker from "vuejs-datepicker";
import VueTimepicker from "vue2-timepicker/src/vue-timepicker.vue";
import NProgress from "nprogress";

export default {
  components: {
    Datepicker,
    VueTimepicker
  },
  props: {
    columnIndex: {
      type: Number,
      required: true
    },
    taskIndex: {
      type: Number,
      required: true
    }
  },
  data() {
    return {
      dueTime: {}
    };
  },
  computed: {
    ...mapGetters(["getTask"]),
    task() {
      const taskFetched = this.getTask(this.columnIndex, this.taskIndex);
      if (!taskFetched || !taskFetched.name) {
        this.$router.push({ name: "board" });
      } else {
        return taskFetched;
      }
    }
  },
  mounted() {
    if (this.task.dueDate) {
      let hours = new Date(this.task.dueDate).getHours();
      hours = hours < 10 ? "0" + hours.toString() : hours.toString();
      let minutes = new Date(this.task.dueDate).getMinutes().toString();

      this.dueTime = {
        HH: hours,
        mm: minutes
      };
    }
  },
  methods: {
    async saveTask() {
      if (this.task.dueDate && this.dueTime.HH && this.dueTime.mm) {
        this.task.dueDate = new Date(this.task.dueDate).setHours(
          +this.dueTime.HH,
          +this.dueTime.mm
        );
      }
      NProgress.start();
      await this.$store.dispatch("saveTask", {
        columnIndex: this.columnIndex,
        taskIndex: this.taskIndex,
        task: this.task
      });
      NProgress.done();
      this.$router.push({ name: "board" });
    },
    async deleteTask() {
      NProgress.start();
      await this.$store.dispatch("deleteTask", {
        columnIndex: this.columnIndex,
        taskIndex: this.taskIndex
      });
      NProgress.done();
      this.$router.push({ name: "board" });
    }
  }
};
</script>

<style lang="css">
.task-modal {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 8rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  text-align: left;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  max-width: 700px;
}
.task-header {
  display: flex;
  justify-content: space-between;
  height: 32px;
  width: 100%;
  margin-bottom: 16px;
}
.task-name {
  width: 70%;
  max-width: 450px;
}
.task-description {
  margin: auto;
  margin-bottom: 16px;
  width: 100%;
  font-family: inherit;
}
.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
</style>