<template>
  <div>
    <div
      class="column"
      @drop="onDropTask($event, $columnIndex)"
      @dragover.prevent
      @dragenter.prevent
    >
      <div class="column-name">{{ column.name }}</div>
      <div class="tasks-list">
        <task-column
          v-for="(task, $taskIndex) of column.tasks"
          :key="$taskIndex"
          :task="task"
          :$taskIndex="$taskIndex"
          :$columnIndex="$columnIndex"
        ></task-column>
      </div>
      <div>
        <input
          type="text"
          class="new-entity"
          placeholder="+ Enter new task"
          @keyup.enter="createTask($event, $columnIndex)"
        />
      </div>
    </div>
  </div>
</template>

<script>
import taskColumn from "@/components/ColumnTask.vue";
import NProgress from "nprogress";

export default {
  components: {
    taskColumn
  },
  props: {
    column: {
      type: Object,
      required: true
    },
    $columnIndex: {
      type: Number,
      required: true
    }
  },

  methods: {
    async onDropTask(event, toColumnIndex, toTaskIndex = 0) {
      event.dataTransfer.effectAllowed = "move";
      event.dataTransfer.dropEffect = "move";

      const fromColumnIndex = +event.dataTransfer.getData("from-column-index");
      const fromTaskIndex = +event.dataTransfer.getData("from-task-index");

      event.dataTransfer.setData("to-column-index", toColumnIndex);
      event.dataTransfer.setData("to-task-index", toTaskIndex);

      NProgress.start();
      await this.$store.dispatch("moveTask", {
        fromColumnIndex,
        fromTaskIndex,
        toColumnIndex,
        toTaskIndex
      });
      NProgress.done();
    },
    async createTask(event, columnIndex) {
      NProgress.start();
      await this.$store.dispatch("createTask", {
        taskName: event.target.value,
        columnIndex
      });
      NProgress.done();
      event.target.value = "";
    }
  }
};
</script>

<style lang="css">
.column-name {
  margin-bottom: 0.5rem;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.task-list {
  list-style: none;
  padding: 0;
}
</style>