<template>
  <div>
    <div
      class="task"
      @click="openTask($columnIndex, $taskIndex)"
      draggable
      @dragstart="onDragTask($event, $columnIndex, $taskIndex)"
      @dragover.prevent
      @dragenter.prevent
      @drop.stop="onDropTask($event, $columnIndex, $taskIndex)"
    >
      <div>
        <span>{{ task.name }}</span>
      </div>
    </div>
    <div class="modal-bg" v-if="isTaskOpen" @click.self="closeTask()">
      <router-view />
    </div>
  </div>
</template>

<script>
import NProgress from "nprogress";

export default {
  props: {
    task: {
      type: Object,
      required: true
    },
    $columnIndex: {
      type: Number,
      required: true
    },
    $taskIndex: {
      type: Number,
      required: true
    }
  },
  computed: {
    isTaskOpen() {
      return this.$route.name === "task";
    }
  },
  methods: {
    onDragTask(event, fromColumnIndex, fromTaskIndex) {
      event.dataTransfer.effectAllowed = "move";
      event.dataTransfer.dropEffect = "move";

      event.dataTransfer.setData("from-column-index", fromColumnIndex);
      event.dataTransfer.setData("from-task-index", fromTaskIndex);
    },
    async onDropTask(event, toColumnIndex, toTaskIndex = 0) {
      event.dataTransfer.effectAllowed = "move";
      event.dataTransfer.dropEffect = "move";

      const fromColumnIndex = +event.dataTransfer.getData("from-column-index");
      const fromTaskIndex = +event.dataTransfer.getData("from-task-index");

      event.dataTransfer.setData("to-column-index", toColumnIndex);
      event.dataTransfer.setData("to-task-index", toTaskIndex);

      NProgress.start();
      await this.$store.dispatch("moveTask", {
        fromColumnIndex,
        fromTaskIndex,
        toColumnIndex,
        toTaskIndex
      });
      NProgress.done();
    },
    openTask(columnIndex, taskIndex) {
      this.$router.push({ name: "task", params: { columnIndex, taskIndex } });
    },
    closeTask() {
      this.$router.push({ name: "board" });
    },
  }
};
</script>

<style lang="css">
.task {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background-color: #fff;
  color: #3d4852;
  text-decoration: none;
  height: 45px;
  cursor: pointer;
}
.task-description-summary {
  text-overflow: ellipsis;
}
</style>