<template>
  <nav class="navbar">
    <div class="brand">
      <font-awesome-icon icon="tasks"></font-awesome-icon>
      <router-link :to="{ path: '/' }" class="icon">Task manager</router-link>
    </div>
    <div class="navbar-feature">
      <section v-if="isLoggedIn">
        <img
          v-if="userHasPhoto"
          :src="user.photoURL"
          :title="user.name"
          @error="photoLoadedCorrectly = false"
          class="user-photo"
        />
        <span v-else class="icon">{{user.name}}</span>
        <font-awesome-icon icon="sign-out-alt" @click="logOut"></font-awesome-icon>
      </section>
      <section v-else>
        <router-link :to="{ path: 'auth' }" class="icon">Login</router-link>
        <font-awesome-icon icon="user" title="Log out"></font-awesome-icon>
      </section>
    </div>
  </nav>
</template>

<script>
import { mapState, mapGetters, mapActions } from "vuex";

export default {
  data() {
    return {
      photoLoadedCorrectly: true
    };
  },
  computed: {
    ...mapState(["user"]),
    ...mapGetters(["isLoggedIn"]),
    name() {
      return this.data;
    },
    userHasPhoto() {
      return this.user.photoURL && this.photoLoadedCorrectly;
    }
  },
  methods: {
    ...mapActions(["signOut"]),
    async logOut() {
      await this.signOut();
      this.$router.push({ name: "auth" });
    }
  }
};
</script>

<style scoped>
.navbar {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-self: center;
  background-color: #3d3c3c;
  color: white;
  padding: 10px;
}
.brand {
  text-decoration: none;
  color: white;
  align-self: center;
  cursor: pointer;
  font-size: 22px;
}
.navbar-feature {
  align-self: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
}
.icon {
  padding: 0 8px;
}
a {
  text-decoration: none;
  color: inherit;
}
.user-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 2px;
}
</style>