<template>
  <div id="app">
    <navbar></navbar>
    <router-view />
  </div>
</template>

<script>
import navbar from "@/components/NavBar.vue";

export default {
  components: {
    navbar
  }
};
</script>
<style>
* {
  box-sizing: border-box;
  outline: none;
}
body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: calc(100% - 60px);
}
.modal-bg {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.1);
}
.btn-success {
  background-color: #44c767;
  border-radius: 13px;
  border: 1px solid #18ab29;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 14px;
  padding: 12px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}
.btn-success:hover {
  background-color: #80e49a;
}
.btn-danger {
  background-color: #e2666c;
  border-radius: 13px;
  border: 1px solid #e2666c;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 14px;
  padding: 12px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #b85454;
}
.btn-danger:hover {
  background-color: #d38f8f;
}
.height-32 {
  height: 32px !important;
  font-family: Arial !important;
  font-size: 14px !important;
}
.padding0-10 {
  padding: 0 10px;
}
</style>
